In [1]:
import pandas as pd
file_name = 'RAT01.csv'  # Construct the file name
df = pd.read_csv(file_name)  # Read the CSV file into a DataFrame
df['Target'] = file_name[:-4]  # Add an 'Target' column with values as filename without extection
print(df.head())  # Print the first 5 rows of the DataFrame

   No.      Time     Source Destination Protocol  Length  \
0    1  0.000000  10.8.0.61     8.8.8.8      DNS      76
1    2  0.016637  10.8.0.61     8.8.8.8      TCP      60
2    3  0.017375    8.8.8.8   10.8.0.61      TCP      60
3    4  0.017912    8.8.8.8   10.8.0.61      DNS      92
4    5  0.020687  10.8.0.61     8.8.8.8      TCP      52

                                                Info Target
0  Standard query 0x04da A infinitedata-pa.google...  RAT01
1  45949  >  853 [SYN] Seq=0 Win=65535 Len=0 MSS=...  RAT01
2  853  >  45949 [SYN, ACK] Seq=0 Ack=1 Win=60192...  RAT01
3  Standard query response 0x04da A infinitedata-...  RAT01
4  45949  >  853 [ACK] Seq=1 Ack=1 Win=88064 Len=...  RAT01

In [2]:
Y = df['Target']
Y = Y.map({'RAT01':0,
           'RAT02':1,'RAT03':2,'RAT04':3,'RAT05':4,'RAT06':5,'RAT07':6,'RAT08':7})
X = df.drop("Target",axis=1)
X.shape

(89733, 7)

In [3]:
X.Source.value_counts().sort_values(ascending=False).head(10)

Source
10.8.0.61          44945
157.240.30.27      15618
147.32.83.234      14863
157.240.30.63       2010
216.58.201.110      1467
195.113.214.206     1464
216.58.201.67       1143
216.58.201.68       1086
195.113.214.205      995
52.222.137.208       721
Name: count, dtype: int64

In [4]:
top_10 = [x for x in X.Source.value_counts().sort_values(ascending=False).head(10).index]
top_10

['10.8.0.61',
 '157.240.30.27',
 '147.32.83.234',
 '157.240.30.63',
 '216.58.201.110',
 '195.113.214.206',
 '216.58.201.67',
 '216.58.201.68',
 '195.113.214.205',
 '52.222.137.208']

In [5]:
import numpy as np
for label in top_10:
    X[label]=np.where(X['Source']==label,1,0)
X[['Source']+top_10].head(5)

,Source,10.8.0.61,157.240.30.27,147.32.83.234,157.240.30.63,216.58.201.110,195.113.214.206,216.58.201.67,216.58.201.68,195.113.214.205,52.222.137.208
0,10.8.0.61,1,0,0,0,0,0,0,0,0,0
1,10.8.0.61,1,0,0,0,0,0,0,0,0,0
2,8.8.8.8,0,0,0,0,0,0,0,0,0,0
3,8.8.8.8,0,0,0,0,0,0,0,0,0,0
4,10.8.0.61,1,0,0,0,0,0,0,0,0,0

In [6]:
top_10 = [x for x in X.Destination.value_counts().sort_values(ascending=False).head(10).index]
top_10

['10.8.0.61',
 '147.32.83.234',
 '157.240.30.63',
 '157.240.30.27',
 '8.8.8.8',
 '195.113.214.206',
 '216.58.201.67',
 '172.217.23.202',
 '195.113.214.205',
 '216.58.201.110']

In [7]:
for label in top_10:
    X[label]=np.where(X['Destination']==label,1,0)
X[['Destination']+top_10].head(5)

,Destination,10.8.0.61,147.32.83.234,157.240.30.63,157.240.30.27,8.8.8.8,195.113.214.206,216.58.201.67,172.217.23.202,195.113.214.205,216.58.201.110
0,8.8.8.8,0,0,0,0,1,0,0,0,0,0
1,8.8.8.8,0,0,0,0,1,0,0,0,0,0
2,10.8.0.61,1,0,0,0,0,0,0,0,0,0
3,10.8.0.61,1,0,0,0,0,0,0,0,0,0
4,8.8.8.8,0,0,0,0,1,0,0,0,0,0

In [8]:
top_10 = [x for x in X.Protocol.value_counts().sort_values(ascending=False).head(10).index]
top_10

['TCP',
 'QUIC',
 'TLSv1.3',
 'GQUIC',
 'TLSv1.2',
 'ICMP',
 'SSL',
 'TLSv1',
 'HTTP',
 'NTP']

In [9]:
for label in top_10:
    X[label]=np.where(X['Protocol']==label,1,0)
X[['Protocol']+top_10].head(5)

  Protocol  TCP  QUIC  TLSv1.3  GQUIC  TLSv1.2  ICMP  SSL  TLSv1  HTTP  NTP
0      DNS    0     0        0      0        0     0    0      0     0    0
1      TCP    1     0        0      0        0     0    0      0     0    0
2      TCP    1     0        0      0        0     0    0      0     0    0
3      DNS    0     0        0      0        0     0    0      0     0    0
4      TCP    1     0        0      0        0     0    0      0     0    0

In [10]:
X.drop(['Source','Destination','Protocol','Info'],axis=1,inplace=True)
X.columns

Index(['No.', 'Time', 'Length', '10.8.0.61', '157.240.30.27', '147.32.83.234',
       '157.240.30.63', '216.58.201.110', '195.113.214.206', '216.58.201.67',
       '216.58.201.68', '195.113.214.205', '52.222.137.208', '8.8.8.8',
       '172.217.23.202', 'TCP', 'QUIC', 'TLSv1.3', 'GQUIC', 'TLSv1.2', 'ICMP',
       'SSL', 'TLSv1', 'HTTP', 'NTP'],
      dtype='object')

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(X)
x_train.shape

(89733, 25)

In [12]:
import numpy as np

# Create your original array
original_array = np.array([-1.73203151e+00, -1.48813898e+00, -1.31238633e+00, -9.98251893e-01,
       -1.25022635e-01, -7.70938602e-01, -1.47748891e-01, -6.84110001e-02,
       -9.33379689e-02, -8.82214196e-02, -1.10683502e-01, -7.24850177e-02,
       -9.00001748e-02,  1.05702365e+01, -7.37176739e-02, -1.52760224e+00,
       -4.91319705e-01, -1.99146598e-01, -1.87323644e-01, -1.80523705e-01,
       -3.09728626e-02, -2.65061524e-02, -8.83262651e-03, -8.17737758e-03,
       -8.17737758e-03, 0])

# Check the length of the original array
original_length = len(original_array)

# Define the desired length (e.g., 26)
desired_length = 26

# Calculate the number of elements to be added
elements_to_add = desired_length - original_length

# Create an array with the additional values (you can customize these values)
additional_values = np.array([0] * elements_to_add)  # In this example, we're adding zeros

# Resize the original array to the desired length
resized_array = np.resize(original_array, desired_length)

# Add the additional values
resized_array[-elements_to_add:] = additional_values

print(resized_array)

ValueError: could not broadcast input array from shape (0,) into shape (26,)

In [ ]:
x_train.shape

(89733, 25)